.App-Container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.App {
  max-width: 400px;
  width: 100%;
  background: white;
  border-radius: 8px;
  box-shadow: 2px 2px 40px #e2e2e2;
  /*margin-left: 20px;*/
  /*margin-right: 20px;*/
}

.App-Header {
  background: #5ecaff;
  width: 100%;
  color: white;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  -moz-border-radius-topleft: 8px;
  -moz-border-radius-topright: 8px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.App-Tasks {
  margin-left: 20px;
  margin-right: 20px;
}